.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;

}

.icon{
   font-size: 2rem;
   color: gold;
   
   
}
.gold{
    color: gold;
}
